/* || DARK MODE */

@media (prefers-color-scheme: dark) {
        :root {
            --BGCOLOR: #000;
            --BGFADE: #333;
            --BGRESPONSIVE-COLOR: #333;
            --BODY-BGCOLOR: #333;
            --BORDER-COLOR: whitesmoke;
            --BUTTON-COLOR: #000;
            --FONT-COLOR: whitesmoke;
            --HEADER-COLOR: whitesmoke;
            --HERO-BGCOLOR: #333;
            --HERO-COLOR: hsl(120, 81%, 69%);
            --HIGHLIGHT-COLOR: hsl(120, 81%, 69%);
            --LINK-ACTIVE: rgb(252, 200, 103);
            --LINK-COLOR: whitesmoke;
            --LINK-HOVER: hsl(120, 81%, 69%);
            --NAV-BGCOLOR: rgb(20, 20, 20);
        }
}

/* ||LARGER SCREENS */

@media screen and (min-width: 576px) {

    .header__h1::before {
        content: "🌮 ";
    
    }

    .header__h1::after {
        content: " 🌮";
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .menu__header,
    .menu__cr,
    .menu__sf,
    .menu__cs {
        font-size: 125%;
    }
}