@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Poppins&display=swap');

/* || RESETS */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

input, 
button, 
textarea {
    font: inherit;
}

/* || VARIABLES */

:root {
    /* FONTS */
    --FF: "Poppins", sans-serif;
    --FF-HEADINDS: "Fugaz One", cursive;
    --FS: clamp(1rem, 2.2vh, 1.5rem);

    /* COLORS */
    --BGCOLOR: hsl(39, 100%, 50%);
    --BGFADE: hsl(39, 100%, 75%) ;
    --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGFADE));
    --BGRESPONSIVE-COLOR: #FFF;
    --BODY-BGCOLOR: #FFF;
    --BORDER-COLOR: #333;
    --BUTTON-COLOR: #FFF;
    --FONT-COLOR: #000;
    --HEADER-BGCOLOR: #000;
    --HEADER-COLOR: #FFF;
    --HERO-BGCOLOR: rgba(51, 178, 51, 0.75);
    --HERO-COLOR: #FFF;
    --HIGHLIGHT-COLOR: rgb(51, 178, 51);
    --LINK-ACTIVE: hsl(39, 100%, 50%);
    --LINK-COLOR: #000;
    --LINK-HOVER: rgb(51, 178, 51);
    --NAV-BGCOLOR: #FFF;

    /* BORDERS */
    --BORDERS: 1px solid var(--BORDER-COLOR);
    --BORDER-RADIUS: 15px;

    /* STANDARD PADDING */
    --PADDING-TB: 0.25em;
    --PADDING-SIDE:2.5%;

    /* STANDARD MARGIN */
    --MARGIN:clamp(1em, 2.5vh, 1.5em) 0;
}

/* || UTILITY CLASSES */

.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

/* || GENERAL */

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--FF);
    font-size: var(--FS);
    background-color: var(--BGCOLOR);
    background-image: var(--BGIMAGE);
    color: var(--FONT-COLOR);
}

h1, h2, h3 {
    font-family: var(--FF-HEADINDS);
    letter-spacing: 0.1em;
}

h2, h3 {
    margin-bottom: 1em;
    color: var(--HIGHLIGHT-COLOR);
}

p {
    line-height: 1.5;
}

a:any-link{
    color: var(--LINK-COLOR);
    text-decoration: none;
}

a:hover, a:focus-visible {
    color: var(--LINK-HOVER);
}

a:active {
    color: var(--LINK-ACTIVE);
}

    /* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--BGCOLOR);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
}

/* || HEADER  */

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__h1 {
    text-align: center;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.header__nav {
    background-color: var(--NAV-BGCOLOR);
    border: var(--BORDERS);
    font-weight: bold;
    box-shadow: 0 6px 5px -5px var(--BORDER-COLOR);
}

.header__navmenu{
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 0.5em;
}

/* ||CONTAINER */

.theme__container {
    display: flex;
    justify-content: end;
    padding-top: 10px;
    margin-right: 15px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

.aside {
    display: grid;
    margin: 10px 0;
    border-radius: var(--BORDER-RADIUS);
    gap: 1em;
}

.aside__h2 {
    width: 80%;
    background-color: var(--BGRESPONSIVE-COLOR);
    text-align: center;
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    margin: 0 auto;
    border: var(--BORDERS);
    border-radius: var(--BORDER-RADIUS);
    box-shadow: 0 6px 5px -5px var(--BORDER-COLOR);
}

/* || HERO */

.hero {
    margin: 0 auto;
    position: relative;
    margin-top: 15px;
}

.hero__h2 {
    background-color: var(--HERO-BGCOLOR);
    color: var(--HERO-COLOR);
    padding: 0.25em 0.5em;
    position: absolute;
    top: -100px;
    left: 20px;
    animation: showWelcome 0.5s ease-in-out 1s forwards;
    border: 2px solid #FFF;
}

.hero__img {
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid #FFF;
    border-radius: var(--BORDER-RADIUS);
    background-color: white;
    padding: 3px;
    box-shadow: 0 6px 5px -5px var(--BORDER-COLOR);
}

@keyframes showWelcome {
    0% {
        top: -20px;
        transform: skew(0deg, -5deg) scaleY(0);
    }

    80% {
        top: 30px;
        transform: skew(10deg, -5deg) scaleY(1.2);
    }

    100% {
        top: 20px;
        transform: skew(-10deg, -5deg) scaleY(1);
    }
}

/* ||FOOTER */

.footer {
    position: sticky;
    bottom: 0;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    text-align: center;
}

/* || MAIN */

.main {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.main__article {
    scroll-margin-top: 6.5rem;
    margin: var(--MARGIN);
}

.main__article:first-child {
    margin-top: 1em;

}
.main__article:last-child {
    min-height: calc(100vh - 20rem);
}

/* || ABOUT */

.about__trivia {
    margin: var(--MARGIN);
}

.about__trivia-answer {
    margin-top: 1em;
}

/* || CONTACT */

.contact__h2 {
    margin: 0;
}

.contact__fieldset {
    border: none;
}

.contact__p {
    margin: 1em 0;
}

.contact__label {
    display: block;
    font-weight: bold;
}

.contact__input,
.contact__textarea {
    padding: 0.5em;
    border-radius: var(--BORDER-RADIUS);
    border-width: 2px;
    width: 100%;
}

.contact__button{
    padding: 0.5em;
    border-radius: var(--BORDER-RADIUS);
    background-color: var(--HIGHLIGHT-COLOR);
    color: var(--BUTTON-COLOR);
    font-weight: bold;
}


/* || MENU */

thead,
tbody,
tfoot,
tr {
    display: contents;
}

.menu {
    background-color: var(--BGRESPONSIVE-COLOR);
    border-radius: var(--BORDER-RADIUS);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.menu h2 {
    text-align: center;
}

.menu__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "hd1 hd2 hd3"
        "cr cr1 cr1p"
        "cr cr2 cr2p"
        "cr cr3 cr3p"
        "sf sf1 sf1p"
        "sf sf2 sf2p"
        "sf sf2 sf3p"
        "cs cs cs";
    gap: 0.1em;
    margin-bottom: 1em;
}

.menu__cr {
    grid-area: cr;
}

.menu__sf{
    grid-area: sf;
}

.menu__cs {
    grid-area: cs;
}

.menu__header,
.menu__cr,
.menu__sf,
.menu__cs {
    color: var(--HIGHLIGHT-COLOR);
    font-weight: bold;
    height: 100%;
    display: grid;
    place-content: center;
}

.menu__header,
.menu__item {
    width: 100%;
    padding: 0.5em;
    border: medium ridge var(--BORDER-COLOR);
}

.menu__item {
    display: grid;
    place-content: center;
    font-weight: bold;
}

thead th:first-child {
    border-top-left-radius: var(--BORDER-RADIUS);
}

thead th:last-child {
    border-top-right-radius: var(--BORDER-RADIUS);
}

tfoot td {
    border-bottom-left-radius: var(--BORDER-RADIUS);
    border-bottom-right-radius: var(--BORDER-RADIUS);
}